<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-button (click)="back()" class="back" fill="clear">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">admin-conductores</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container-title">

    <ion-text class="title">
      Conductores Activos
    </ion-text>
  </div>

  <div class="conductores">
    <ion-list>
      <ion-item (click)="verConductor(conductor.id)" button="true" class="info" *ngFor="let conductor of conductores">
        <ion-text class="name-conductor">{{ conductor.name }}</ion-text>
        <ion-button size="large" slot="end" fill="clear" color="danger">
          <ion-icon name="person-remove-outline"></ion-icon>

        </ion-button>
      </ion-item>

    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <!-- botón flotante (solo icono) -->
    <ion-fab-button color="success" (click)="abrirModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="modalAbierto" (didDismiss)="cerrarModal()" class="modal-fixed-height">
    <ng-template>
      <div class="modal-container">
        <div class="modal-header">
          <h2>Agregar Conductores</h2>
          <ion-button fill="clear" (click)="cerrarModal()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>

        <form [formGroup]="registerForm" class="info" (ngSubmit)="register()">
          <!-- Agregar campo nombre -->
          <div class="labelText">
            <ion-label>Nombre completo</ion-label>
          </div>
          <ion-item>
            <ion-input placeholder="Nombre Completo" type="text" formControlName="name">
            </ion-input>

          </ion-item>

          <div class="labelText">
            <ion-label>Usuario o ID de empleado</ion-label>
          </div>
          <ion-item>
            <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
          </ion-item>

          <div class="labelText">
            <ion-label>Contraseña</ion-label>
          </div>
          <ion-item>
            <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
          </ion-item>

          <!-- campo oculto para role (si no quieres mostrarlo) -->
          <ion-item style="display:none;">
            <ion-input formControlName="role" type="text"></ion-input>
          </ion-item>

          <div class="btn">
            <ion-button color="success" class="buttonIni" type="submit">Registrar Conductor</ion-button>
          </div>
        </form>



      </div>
    </ng-template>
  </ion-modal>


    <ion-modal [isOpen]="modalAbiertoInfo" (didDismiss)="cerrarModalInfo()" class="modal-fixed-height">
    <ng-template>
      <div class="modal-container">
        <div class="modal-header">
          <h2>Agregar Conductores</h2>
          <ion-button fill="clear" (click)="cerrarModalInfo()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
        <div class="info">
          <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-text>{{ Perfil?.name }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Email:</ion-label>
            <ion-text>{{ Perfil?.email }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Role:</ion-label>
            <ion-text>{{ Perfil?.role }}</ion-text>
          </ion-item>
      </div>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>