<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="logo">
    <ion-img src="assets/logo.png"></ion-img>
    <ion-text>EcoCollect</ion-text>
    <p>Sistema de Recolección de Basura</p>
  </div>

  <!-- <form [formGroup]="registerForm" class="info" (ngSubmit)="register()"> -->
    Agregar campo nombre
    <!-- <div class="labelText"> -->
      <!-- <ion-label>Nombre completo</ion-label> -->
    <!-- </div> -->
    <!-- <ion-item> -->
      <!-- <ion-input placeholder="Nombre Completo" type="text" formControlName="name"> -->
      <!-- </ion-input> -->
<!--  -->
    <!-- </ion-item> -->
<!--  -->
    <!-- <div class="labelText"> -->
      <!-- <ion-label>Usuario o ID de empleado</ion-label> -->
    <!-- </div> -->
    <!-- <ion-item> -->
      <!-- <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input> -->
    <!-- </ion-item> -->
<!--  -->
    <!-- <div class="labelText"> -->
      <!-- <ion-label>Contraseña</ion-label> -->
    <!-- </div> -->
    <!-- <ion-item> -->
      <!-- <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input> -->
    <!-- </ion-item> -->
<!--  -->
    <!-- <ion-item> -->
      <!-- <ion-select placeholder="Selecciona tu rol" formControlName="role" interface="action-sheet"> -->
        <!-- <ion-select-option value="conductor">Conductor</ion-select-option> -->
        <!-- <ion-select-option value="admin">Administrador</ion-select-option> -->
      <!-- </ion-select> -->
    <!-- </ion-item> -->
<!--  -->
    <!-- <div class="btn"> -->
      Cambiar texto del botón
      <!-- <ion-button class="buttonIni" type="submit">Registrarse</ion-button> -->
    <!-- </div> -->
  <!-- </form> -->
</ion-content>